<!DOCTYPE html>
<html>
<head>
    <title>page2.html</title>
    {{head.scripts}}
   <!--{{{stylesheet '/assets/css/test.css' rel="stylesheet"}}}-->
   <!--{{stylesheet '/assets/css/test.css' }}-->
    <!--{{ stylesheet  "assets/css/commented.css" }} -->

    {{ stylesheet     "assets/css/test.css"    }}
    <!-- {{ stylesheet     "assets/css/test3.css"    }}
    <style>

    </style> -->
</head>
<body>
    <h1>{{theme_settings.customizable_title}}</h1>
    {{> components/b}}
    {{footer.scripts}}
</body>
</html>
